{% extends'base.html.twig' %}

{% block title %}
    Importer un fichier
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'importer' ) }}
 {% endblock %}

{% block main %}

    <div class="bloc">

        <h1 class="titre">importation de nouveaux stagiaires.</h1>

        {{ form_start(importForm) }}
        {{ form_widget(importForm) }}
        <div class="placement-button">
            <button class="btn" type="submit"> Enregistrer</button>
        </div>
    </div>
    {{ form_end(importForm) }}

    </div>

{% endblock %}