{% extends 'base.html.twig' %}

{% block title %}  Sortir | Consulter profil{% endblock %}

{% block main %}
<div class="blockMonProfil">
    <h1>Profil de {{ p.pseudo }}</h1>
    <div>
        <span>Prénom : </span><span>{{ p.prenom }}</span>
    </div>
    <div>
        <span>Nom : </span><span>{{ p.nom }}</span>
    </div>
    <div>
        <span>Téléphone : </span><span>{{ p.telephone }}</span>
    </div>
    <div>
        <span>Email : </span><span>{{ p.mail }}</span>
    </div>
    <div>
        <span>Site de rattachement : </span><span>{{ p.site.nom }}</span>
    </div>

    {% if app.user.id == p.id %}
        <button onclick=window.location.href='{{ path('participant_update') }}';>Modifier</button>
    {% endif %}
</div>
{% endblock %}
