{% extends 'base.html.twig' %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'profil' ) }}
 {% endblock %}

{% block title %}  Sortir | Consulter profil{% endblock %}

{% block main %}
<div class="blockMonProfil">
   <div class="titre"><h1>Profil de {{ p.pseudo }}</h1></div>
    <div class="block-tab-photo">
    <div class="photo"><img src="{{ vich_uploader_asset(p) }}" alt="{{ p.image }}" /></div>
    <table class="tableau-profil">
        <tr>
            <td class="appel">Prénom :</td>
            <td class="td-centre">{{ p.prenom }}</td>
        </tr>
        <tr>
            <td class="appel">Nom : </td>
            <td class="td-centre">{{ p.nom }}</td>
        </tr>
        <tr>
            <td class="appel">Téléphone : </td>
            <td class="td-centre">{{ p.telephone }}</td>
        </tr>
        <tr>
            <td class="appel">Email : </td>
            <td class="td-centre">{{ p.mail }}</td>
        </tr>
        <tr>
            <td class="appel">Site de rattachement : </td>
            <td class="td-centre">{{ p.site.nom }}</td>
        </tr>
    </table>
    </div>

    {% if app.user.id == p.id %}
       <div class="placement-button"><button class="btn" onclick=window.location.href='{{ path('participant_update') }}';>Modifier</button></div>
    {% endif %}
</div>
{% endblock %}
