{% extends'base.html.twig' %}

{% block title %}
    Afficher Une Sortie
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
 {% endblock %}

{% block main %}

    <h1>Afficher Une Sortie</h1>

    <p>Nom de la sortie : {{ sorties.nom }}</p>


    <p>Date et heure de la sortie : {{ sorties.dateHeureDebut|date("d/m/Y") }}</p>


    <p>Date limite d'inscription : {{ sorties.dateHeureDebut|date_modify("+"~sorties.duree~" day")|date("d/m/Y" ) }}</p>


    <p>Nombre de places : {{ sorties.nbInscriptionsMax }}</p>


    <p>Durée : {{ sorties.duree }}</p>


    <p>Description et infos : {{ sorties.infosSortie }}</p>


    <p>Lieu : {{ sorties.lieu.nom }}</p>


    <p>Rue : {{ sorties.lieu.rue }}</p>


    <p>Ville : {{ sorties.lieu.ville.nom }}</p>


    <p>Code Postal : {{ sorties.lieu.ville.codePostal }}</p>


    <p>Latitude : {{  sorties.lieu.latitude }}</p>


    <p>Longitude : {{ sorties.lieu.longitude }}</p>

    <table class="tableau">
        <tr>
            <td>
                Pseudo
            </td>
            <td>
                Nom
            </td>
        </tr>
        <tr>

            {% for sortie in sorties %}

            <td>
                {{ sorties.sortieInscrits.pseudo }}
            </td>
            <td>
                {{ sorties.sortieInscrits.nom }}
            </td>

            {% endfor %}
        </tr>
    </table>

    <button class="btn btn-lg btn-primary" type="submit" formaction="{{ (path('participant_update'))}}">
        S'inscrire
    </button>
    <button class="btn btn-lg btn-primary" type="submit" formaction="{{ (path('participant_update'))}}">
        Se désister
    </button>

{% endblock %}