{% extends'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags ( 'app' ) }}
    {{ encore_entry_link_tags ( 'creerSortie' ) }}
{% endblock %}

{% block title %}
    Ajout sortie
{% endblock %}

{% block main %}

    <div class="bloc">
        {% if s.id!=null %}
            <h1>Modifier une sortie</h1>
        {% else %}
             <h1>Creer une sortie</h1>
        {% endif %}
        <div class="form">
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
            <div class="form-button">
                {% if s.id!=null and s.etat.id==6 %}
                    <button type="submit" value="6" name="pub">Modifier</button>
                {% else %}
                    <button type="submit" value="1" name="enr">Enregistrer</button>
                    <button type="submit" value="6" name="pub">Publier</button>
                {% endif %}
                <button onclick=window.location.href='{{ path('main') }}';>Annuler</button>
            </div>
            {{ form_end(sortieForm) }}
        </div>

        <div class="ville">
            <div class="ville-button">
                <button onclick=window.location.href='{{ path('ajoutLieu') }}';>Ajouter un lieu</button>
            </div>

            <div class="span-ville">Ville :
                <div id="ville"></div>
            </div>

            <div class="span-ville">Rue :
                <div id="rue"></div>
            </div>

            <div class="span-ville">Code Postal :
                <div id="codePostal"></div>
            </div>

            <div class="span-ville">Latitude :
                <div id="latitude"></div>
            </div>

            <div class="span-ville">Longitude :
                <div id="longitude"></div>
            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags ( 'app' ) }}
    {{ encore_entry_script_tags ( 'lieuVille' ) }}
{% endblock %}