{% extends'base.html.twig' %}

{% block title %}
    Annuler Une Sortie
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'annuler' ) }}
 {% endblock %}

{% block main %}

    <div class="blockAnnuler">
        {% if sortie.etat.id == '5' %}
            <h1 class="titre">Modifier l'annulation</h1>
        {% else %}
            <h1 class="titre">Annuler la sortie</h1>
        {% endif %}

        <div class="affichage">
            <div><p>Nom de la Sortie : </p><p class="text"> {{ sortie.nom }}</p></div>

            <div><p>Date de la sortie : </p><p class="text">{{ sortie.dateHeureDebut|date("d/m/Y") }}</p></div>

            <div><p>Site orgarnisateur : </p><p class="text">{{ sortie.site.nom }}</p></div>

            <div><p>Lieu : </p><p class="text">{{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p></div>

            <div><p>Motif : </p>
                <div class="formulaire">
            {{ form_start(annulSortieForm) }}
            {{ form_widget(annulSortieForm) }}
                    <div class="form-button">
            <button type="submit" value="1" name="enr">Enregistrer</button>
            <button onclick=window.location.href='{{ path('liste-sortie') }}';>Annuler</button>
                    </div>
            {{ form_end(annulSortieForm) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags ( 'app' ) }}
{% endblock %}