{% extends'base.html.twig' %}

{% block title %}
    Liste sortie
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'listeSortie' ) }}
 {% endblock %}

{% block main %}
    <div class="ensemble">
        <div class="bloc-user">
            <ul>
                <li>Date du jour : {{ "now"|date("d/m/Y") }}</li>
                <li>Participant : {{ participant.prenom }} {{ participant.nom|u.truncate(1)|upper }}.</li>
            </ul>
        </div>
        <div class="form-filtre">

            <div class="title">Filtrer les sorties</div>
            {{ form_start(filtreForm) }}
            {{ form_widget(filtreForm) }}
            <button type="submit">Rechercher</button>
            {{ form_end(filtreForm) }}

            <div class="scroll">
            <table class="tableau">
                <thead>
                <tr class="ligne-titre">
                    <td class="ligne-nom">
                        Nom sortie
                    </td>
                    <td class="ligne-dateSortie">
                        Date sortie
                    </td>
                    <td class="ligne-cloture">
                        Clôture
                    </td>
                    <td class="ligne-inscrits">
                        Inscrits/Places
                    </td>
                    <td class="ligne-etat">
                        Etat
                    </td>
                    <td class="ligne-inscrit">
                        Inscrit
                    </td>
                    <td class="ligne-organisateur">
                        Organisateur
                    </td>
                    <td class="ligne-action">
                        Actions
                    </td>
                </tr>
                </thead>
                <tbody id="listColor">
                {% for sortie in sorties %}
                    {#les sortie de plus d'un mois ne seront pas consultable#}
                    {% if sortie.dateHeureDebut|date_modify("+31 days")|date('d/m/Y') > "now"|date('d/m/Y') %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut|date("d/m/Y") }}</td>
                            <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                            <td>{{ sortie.sortieInscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>

                            <td>{% for inscrit in sortie.sortieInscrits %}
                                    {% if inscrit.id == participant.id %}
                                        {{ 'X' }}
                                    {% else %}
                                        {{ ' ' }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="pseudo-organisateur">
                                <a href="{{ path('afficherProfil',{'id' : sortie.sortiesOrganisees.id }) }}">{{ sortie.sortiesOrganisees.pseudo }}</a>
                            </td>
                            <td class="actions">
                                <a href="{{ (path('afficherSortie', {'id': sortie.id})) }}">Afficher </a>

                                {% if sortie.sortiesOrganisees.pseudo == participant.username %}
                                    {% if "now"|date('Y-m-d') < sortie.dateHeureDebut|date('Y-m-d') %}
                                        <a href="{{ (path('annuler', {'id': sortie.id})) }}">Annuler </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
            <div><a class="bouton-creer" href="{{ path('ajouterSortie') }}"> Créer une sortie</a></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags ( 'app' ) }}
    {{ encore_entry_script_tags ( 'listeSortieJs' ) }}
{% endblock %}