{% extends'base.html.twig' %}

{% block title %}
    Liste sortie
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'listeSortie' ) }}
 {% endblock %}

{% block main %}
    <div class="ensemble">
        <div class="bloc-user">
            <ul>
                <li>Date du jour : {{ "now"|date("d/m/Y") }}</li>
                <li>Participant : {{ participant.prenom }} {{ participant.nom|u.truncate(1)|upper }}.</li>
            </ul>
        </div>
        <div class="form-filtre">

            <div class="title">Filtrer les sorties</div>
            {{ form_start(filtreForm) }}
            {{ form_widget(filtreForm) }}
            <button type="submit">Rechercher</button>
            {{ form_end(filtreForm) }}
            <table class="tableau">
                <tr>
                    <td>
                        Nom de la sortie
                    </td>
                    <td>
                        Date de la sortie
                    </td>
                    <td>
                        Clôture
                    </td>
                    <td>
                        Inscrits/Places
                    </td>
                    <td>
                        Etat
                    </td>
                    <td>
                        Inscrit
                    </td>
                    <td>
                        Organisateur
                    </td>
                </tr>
                <tr>

                    {% for sortie in sorties %}

                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y") }}</td>
                        <td>{{ sortie.dateHeureDebut|date_modify("+"~sortie.duree~" day")|date("d/m/Y" ) }}</td>
                        <td>{{ sortie.sortieInscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{{ participant.inscrits. }}</td>
                        <td>{{ sortie.site.nom }}</td>
                        <td>
                            <a href="{{ (path('afficherSortie', {'id': sortie.id})) }}">Afficher</a>
                        </td>

                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}