{% extends'base.html.twig' %}

{% block title %}
    Liste sortie
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'listeSortie' ) }}
 {% endblock %}

{% block main %}
    <div class="ensemble">
        <div class="bloc-user">
            <ul>
                <li>Date du jour : {{ "now"|date("d/m/Y") }}</li>
                <li>Participant : {{ participant.prenom }} {{ participant.nom|u.truncate(1)|upper }}.</li>
            </ul>
        </div>
        <div class="form-filtre">

            <div class="title">Filtrer les sorties</div>
            {{ form_start(filtreForm) }}
            {{ form_widget(filtreForm) }}
            <button type="submit">Rechercher</button>
            {{ form_end(filtreForm) }}
            <table class="tableau">
                <tr>
                    <td>
                        Nom de la sortie
                    </td>
                    <td>
                        Date de la sortie
                    </td>
                    <td>
                        Clôture
                    </td>
                    <td>
                        Inscrits/Places
                    </td>
                    <td>
                        Etat
                    </td>
                    <td>
                        Inscrit
                    </td>
                    <td>
                        Organisateur
                    </td>
                </tr>


                    {% for sortie in sorties %}
                        {#les sortie de plus d'un mois ne seront pas consultable#}
                {% if date( sortie.dateHeureDebut) > date('+31days') %}
                <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.sortieInscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>

                        <td>{% for inscrit in sortie.sortieInscrits %}
                                {% if inscrit.id == participant.id %}
                                    {{ 'X' }}
                                {% else %}
                                    {{ ' ' }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('afficherProfil',{'id' : sortie.sortiesOrganisees.id }) }}">{{ sortie.sortiesOrganisees.pseudo }}</a></td>
                        <td>
                            <a href="{{ (path('afficherSortie', {'id': sortie.id})) }}">Afficher</a>

                            {% if sortie.sortiesOrganisees.pseudo == participant.username %}
                                {% if "now"|date('Y-m-d') < sortie.dateHeureDebut|date('Y-m-d') %}
                                    {% if sortie.etat.id != '5' %}
                                    <a href="{{ (path('annuler', {'id': sortie.id})) }}">Annuler</a>
                                        {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                </tr>
                {% endif %}
                    {% endfor %}
            </table>
            <div><a class="bouton-creer" href="{{ path('ajouterSortie') }}"> Créer une sortie</a></div>
        </div>
    </div>
{% endblock %}