{% extends'base.html.twig' %}

{% block title %}
    Liste sortie
{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags ( 'app' ) }}
     {{ encore_entry_link_tags ( 'listeSortie' ) }}
 {% endblock %}

{% block main %}

    <div class="block">

        <div class="title">Filtrer les sorties</div>
        <div>site : <select name="site" id="site"></select>
        </div>
        <div>Le nom de la sortie contient : <input type="search" id="search"></div>
        <div>Entre : <input type="date" id="date-before"> et <input type="date" id="date-after"></div>

        <table class="tableau">
            <tr>
                <td>
                    Nom de la sortie
                </td>
                <td>
                    Date de la sortie
                </td>
                <td>
                    Clôture
                </td>
                <td>
                    Inscrits/Places
                </td>
                <td>
                    Etat
                </td>
                <td>
                    Inscrit
                </td>
                <td>
                    Organisateur
                </td>
                <td>
                    Actions
                </td>
            </tr>
            <tr>

                {% for sortie in sorties %}

                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y") }}</td>
                    <td>{{ sortie.dateHeureDebut|date_modify("+"~sortie.duree~" day")|date("d/m/Y" ) }}</td>
                    <td>{{ sortie.sortieInscrits|length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td> faire la X</td>
                    <td>{{ sortie.site.nom }}</td>
                    <td>Actions</td>

                {% endfor %}
            </tr>
        </table>


    </div>
{% endblock %}