<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {{ encore_entry_link_tags ( 'app' ) }}
    {% endblock %}
    <title>{% block title %} Sortir.com {% endblock %}</title>
</head>
<body>
<div class="page">
    <header class="site-header">
        <div class="head">
            <div class="logo">
                <a href="{{ path('liste-sortie') }}"><img src="{{ asset('img/logo-bird.png') }}" alt="logo Sortir"></a>
                <div class="titre-Head">Sortir.com</div>
            </div>
            <div class="navbar">
                {% include 'main/navbar.html.twig' %}
            </div>
        </div>
    </header>

    {# Zone d'affichage du message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main class="site-content">
        {% block main %}



        {% endblock %}
    </main>

    <footer class="site-footer">
    <div class="line"></div>
        <div class="logo-footer">
            <img src="{{ asset('img/logoEni.jpg') }}" alt="logo Eni">
            <div class="text-footer">©Eni Ecole-Informatique</div>
        </div>

    </footer>
</div>
</body>
{% block javascripts %}
    {{ encore_entry_script_tags ( 'app' ) }}
{% endblock %}
</html>